.nav_container{
    background-color: #1793b3;
    
}


.li{
    display: flex;
    margin-right: 10px;
    color: white;
    padding: 5px;
}

.ul{
    display: flex;
    align-items: stretch;
    
    flex-flow: row-reverse;
}


@media (prefers-color-scheme: light) {
    .nav_container{
        background-color: #193049;
        
    }
    
    
}