.nav {
  display: flex;
  flex-direction: column;
}

.nav > a {
  text-align: center;
  margin: 5px 0;
  text-decoration: none;
  font-size: 12px;
  padding: 10px 10px;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 0.025em;
  color: white;
  border-radius: 10px;
}


.foto_perfil {
  margin-left: 0%;
  width: 80px;
  height: 80px;
  margin-bottom: 5px;
  border-radius: 150px;
}




.checkbox:checked ~ .menu_icon {
  left: 1%;
  
}

.checkbox:checked ~ .nav {
  left: -15%;
}
.checkbox{
  display: none;
}

.left_panel > nav{
  display: flex;
  flex-direction: column;
  width: 15%;
  height: 100%;
  align-items: center;
  position: absolute;
  left: 0%;
  background-color: #133163;
  transition: left 0.7s;
}

@media screen and (max-width: 320px) {
  .nav {
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #3b82f6;
    padding: 10px;
    border-right: 1px solid #eaeaea;
  }

  .iconos {
    margin-left: 15%;
    width: 50px;
    height: 50px;
    margin-bottom: 5px;
    border-radius: 150px;
  }
}

@media screen and (max-width: 768px) {
  .nav {
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #3b82f6;
    padding: 10px;
    border-right: 1px solid #eaeaea;
  }

  .iconos {
    margin-left: 28%;
    width: 50px;
    height: 50px;
    margin-bottom: 5px;
    border-radius: 150px;
  }
}
