.nav {
  display: flex;
  flex-direction: column;
}

.nav > a {
  text-align: center;
  margin: 3px 0;
  text-decoration: none;
  font-size: 12px;
  padding: 10px 10px;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 0.025em;
  color: white;
  border-radius: 10px;
}

.input {
  margin: 32px 0;
  text-decoration: none;
  background: white;
  border-radius: 4px;
  border: 1px solid #eaeaea;
  font-size: 14px;
  padding: 8px 16px;
  height: 28px;
}

.iconos {
  margin-left: 0%;
  width: 100px;
  height: 100px;
  margin-bottom: 5px;
  border-radius: 150px;
}

.menu_icon {
  width: 1.9rem;
  height: 2rem;
  background-color: purple;
  border-radius: 360px;
  position: absolute;
  top: 0%;
  left: 14%;
  font-size: 20px;
  font-family: sans-serif;
  color: white;
  text-align: center;
  transition: left 0.7s;
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
}

.checkbox:checked ~ .menu_icon {
  left: 1%;
  
}

.checkbox:checked ~ .nav {
  left: -15%;
}
.checkbox{
  display: none;
}

.left_panel > nav{
  display: flex;
  flex-direction: column;
  width: 15%;
  height: 100vh;
  align-items: center;
  position: absolute;
  left: 0%;
  background-color: #133163;
  transition: left 0.7s;
}

@media screen and (max-width: 320px) {
  .nav {
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #3b82f6;
    padding: 10px;
    border-right: 1px solid #eaeaea;
  }

  .iconos {
    margin-left: 15%;
    width: 50px;
    height: 50px;
    margin-bottom: 5px;
    border-radius: 150px;
  }
}

@media screen and (max-width: 768px) {
  .nav {
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #3b82f6;
    padding: 10px;
    border-right: 1px solid #eaeaea;
  }

  .iconos {
    margin-left: 28%;
    width: 50px;
    height: 50px;
    margin-bottom: 5px;
    border-radius: 150px;
  }
}
