.container {
  display: flex;
  height: 100%;
  width: 100%;
  
}

.titulo{
  font-size: 1.6rem;
  font-family: 'Averta';
  font-weight: bold;
  margin-left: 40%;
  
    
    color: white;
     
  
}
