.container {
  display: flex;
  height: 100%;
  width: 100%;
  
}

.titulo{
  font-size: 1.6rem;
  font-family: 'Helvetica Now';
  font-weight: bold;
  margin-left: 40%;
  
    -webkit-text-stroke: 1px white;
    color: black;
     
  
}
