.container {
  display: flex;
  height: 100%;
  width: 100%;
}

.titulo {
  height: 50px;
  font-size: 1.6rem;
  margin-left: 35%;
  margin-top: 1%;
  display: flex;
  color: white;
  font-weight: bold;
}
