.titulo{
    font-size: 30px;
    font-weight: bold;
}

.perfil_card{
    border: solid #51c5f3 3px;
    border-radius: 5px;
    width: 400px;
    height: 400px;
    position: absolute;
    top: 10%;
    left: 40%;
    text-align: center;
    align-content: center;
    align-items: center;
    
}

.label{
    display: block;
    margin-top: 20px;
}

.perfil_card img{
    position: relative;
    top: 2%;
    left: 35%;
    border-radius: 150px;
    width: 100px;
    height: 100px;
}

.botones{
    background-color: deepskyblue;
    color: white;
    border: solid 1px black;
    border-radius: 5px;
    padding: 3px;
    width: 150px;
    display: flex;
    position: relative;
    text-align: center;
    align-content: center;
    margin-top: 20%;
    left: 30%;
}