.form {
  margin: 40px;
  display: block;
}

.button {
  padding: 3px;
  margin: 20px;
  background-color: #25ceec;
  border: solid 2px #0c5e72;
  border-radius: 5px;
}

.label {
  color: black;
  display: block;
  
}

.span {
  display: block;
  margin: 5px;
}

.input{
    color: #5e5e5e;
    background-color: white;
    border: solid black 1px;
    border-radius: 5px;
    width: 200px;
}