@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

html{
    height: 100%;
    width: 100%;
}


@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {

    background: linear-gradient(#141e30, #243b55);
  }
}

@media (prefers-color-scheme: light) {
  html {
    color-scheme: light;
  }
  body {
    color: white;
    background: rgb(151, 255, 224);
  }
}
